:root {
  /* Colors */
  --primary: #fb4c4c;
  --secondary: #fe9696;
  --tertiary: #9b1c1c;
  --white: #f5f5f5;
  --black: #25272c;
  --black-75: #25272cc0;
  --black-50: #25272c80;
  --black-25: #25272c40;
  --black-10: #25272c1a;
  --black-5: #25272c0c;
  --white-input: #f9f9f9;
  --red-background: #ff52521f;

  /* Base font */
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Fonts */

p,
div {
  font-family: "Urbanist", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  margin: 0;
}

button,
input {
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "K2D", sans-serif;
  margin: 0;
}

h1,
h4,
h5,
h6 {
  font-weight: 700;
}

h1 {
  font-size: 1.802rem;
}

h2 {
  font-size: 1.602rem;
  font-weight: 600;
}

h3 {
  font-size: 1.424rem;
  font-weight: 300;
}

h4 {
  font-size: 1.266rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 1rem;
}

.logo {
  flex: 1;
  font-family: "Kaushan Script", cursive;
  font-size: 2.25rem;
  color: var(--primary);
  max-width: 211px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  background-color: var(--white);
  color: var(--black);
}

input[type="text"] {
  color: var(--black);
  font-size: 1.15rem;
  box-sizing: border-box;
  background-color: var(--white-input);
  border: 2px solid var(--black-50);
  border-radius: 16px;
  padding: 14px 24px;

  transition: 100ms;
}

input[type="text"]:focus {
  outline: none;
  border-color: var(--secondary);
  box-shadow: 0 0 16px -4px var(--primary);

  transition: 100ms;
}

input::placeholder {
  color: var(--black-50);
}

button {
  color: var(--white);
  font-size: 1.15rem;
  font-weight: 800;

  background-color: var(--primary);
  border: none;
  border-radius: 8px;
  padding: 16px 24px;
  cursor: pointer;

  transition: background-color 200ms;
}

button:hover {
  background-color: var(--secondary);
  transition: background-color 200ms;
}

button:active {
  background-color: var(--tertiary);
}

button:focus {
  outline: none;
  border-color: var(--secondary);
  box-shadow: 0 0 16px 0px var(--primary);

  transition: 100ms;
}

a {
  text-decoration: none;
}

/* Header */
header {
  user-select: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  gap: 32px;
}

.header-tabs {
  flex: 2;
  max-width: 440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-tabs .tab {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0;
  width: 104px;
  font-size: 1.2rem;
  border-bottom: 3px solid var(--white);
  transition: 300ms;
}

.header-tabs .tab.selected,
.header-tabs .tab:hover {
  border-bottom: 3px solid var(--primary);
  color: var(--primary);
  transition: 300ms;
}

.header-tabs .tab:not(.selected) {
  cursor: pointer;
}

.user-and-cart {
  flex: 1;
  display: flex;
  max-width: 211px;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

/* Content */

#content {
  flex: 1 0 auto;
}

.section-titles {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.section-titles h3 {
  color: var(--black-75);
}

/* Content: Home */

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--black-75);
  height: 90vh;
  gap: 24px;
  color: var(--white);
}

.hero-text {
  text-align: center;
}

.hero-text h4,
.hero-text h1 {
  font-weight: 400;
}

.hero-restaurant {
  font-weight: 800;
}

.hero-country {
  font-family: "Kaushan Script";
}

.features-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--red-background);
  gap: 16px;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 272px;
  gap: 8px;
}

.feature h4 {
  color: var(--primary);
}

.dish-summary-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 80px;
}

.dish-gallery-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 250px));
  grid-template-rows: repeat(3, min-content);
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.dish-gallery-container > div {
  background-color: var(--secondary);
  aspect-ratio: 4/3;
  cursor: pointer;
  transition: 150ms;
}

.dish-gallery-container > div:hover {
  filter: brightness(1.3);
  transition: 150ms;
}

.about-summary-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 64px;
  background-color: var(--black-5);
}

.about-summary-container .info {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 48px;
  max-width: 30vw;
}

.about-summary-image {
  width: 400px;
  aspect-ratio: 8/5;
  background-color: var(--secondary);
}

.newsletter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 32px;
}

.newsletter-container p {
  max-width: 20vw;
}

.input-container {
  display: flex;
  justify-content: center;
  width: 55%;
  max-width: 546px;
  gap: 24px;
}

.input-container input[type="text"] {
  flex: 1;
}

/* Home content vertical padding */
.features-container,
.dish-summary-container,
.newsletter-container,
.about-summary-container {
  padding-top: 80px;
  padding-bottom: 80px;
}

/* Content: Menu */
.menu-tabs {
  display: flex;
  gap: 16px;
}

.menu-tabs .tab {
  font-size: 1.2rem;
  color: var(--black-50);
  padding: 8px 32px;
  justify-content: flex-start;
  border-radius: 100px;
  border: 2px solid var(--black-50);
  user-select: none;
  cursor: pointer;
  transition: 100ms;
}

.menu-tabs .tab:hover {
  border-color: var(--primary);
  color: var(--primary);
  transition: 100ms;
}

.menu-tabs .tab.selected {
  border-color: var(--primary);
  background-color: var(--primary);
  color: var(--white);
  font-weight: 500;
  transition: 100ms;
}

.dish-container {
  margin-top: 32px;
  background-color: var(--black-10);
}

.dish-grid {
  margin: 0 auto;
  display: grid;
  max-width: 1128px;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  justify-content: center;
  gap: 32px;
}

.dish-card {
  border-radius: 16px;
  background-color: var(--white);
  user-select: none;
}

.dish-card .dish-image {
  background-color: var(--secondary);
  height: 200px;
  border-radius: 16px 16px 0 0;
}

.dish-card .info {
  display: grid;
  padding: 16px 24px;
  grid-template-columns: repeat(2, auto);
  row-gap: 8px;
  align-items: center;
}

.dish-card .title {
  font-weight: 600;
  font-family: K2D, monospace;
  font-size: 1.4rem;
  grid-column: 1 / 3;
}

.dish-card .price {
  color: var(--black-75);
  font-size: 1.3rem;
}

.dish-card .add-cart {
  padding: 12px;
  justify-self: end;
}

/* Menu content vertical padding */
#menu,
.dish-container {
  padding: 32px 0;
}

/* Content: About */
.about-us-container {
  display: flex;
  justify-content: space-between;
  background-color: var(--black);
  color: var(--white);
  gap: 64px;
}

.about-us-container,
.our-history-container {
  display: flex;
  justify-content: space-between;
  gap: 64px;
}

.about-us-image,
.our-history-image {
  width: 100%;
  min-width: 200px;
  max-width: 406px;
  aspect-ratio: 8/5;
}

.about-us-image {
  background-color: var(--white);
}

.our-history-image {
  background-color: var(--secondary);
}

.about-text,
.our-history-text {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 560px;
}

.about-us-container h3 {
  color: var(--white);
}

.our-history-container {
  flex-direction: row-reverse;
}

/* About us vertical padding */
.about-us-container,
.our-history-container {
  padding: 176px 0;
}

/* Footer */
footer {
  background-color: var(--black);
  color: var(--white);
}

.footer-upper {
  display: flex;
  justify-content: space-between;
}

.footer-info-container {
  flex: 1;
  max-width: 743px;
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.footer-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 220px;
}

.footer-info h4 {
  margin-bottom: 8px;
}

.footer-info a {
  display: block;
  color: var(--white);
}

.footer-logo {
  color: var(--white);
}

.footer-lower {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--white);
  box-sizing: content-box;
}

.footer-lower a {
  color: var(--primary);
}

.footer-upper,
.footer-lower {
  padding: 32px 0;
}

/* Page Paddings */
.features-container,
.dish-summary-container,
.about-summary-container,
.newsletter-container,
.menu-tabs,
.dish-container,
.about-us-container,
.our-history-container,
footer {
  padding-left: 12.5vw;
  padding-right: 12.5vw;
}
