:root {
  /* Colors */
  --primary: #fb4c4c;
  --secondary: #fe9696;
  --tertiary: #9b1c1c;
  --white: #f5f5f5;
  --black: #25272c;
  --black-75: #25272cc0;
  --black-50: #25272c80;
  --black-25: #25272c40;
  --black-10: #25272c1a;
  --black-5: #25272c0c;
  --white-input: #f9f9f9;
  --red-background: #ff5050;

  /* Base font */
  font-size: 20px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Fonts */

p,
div {
  font-family: "Urbanist", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  margin: 0;
}

button,
input {
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "K2D", sans-serif;
  margin: 0;
}

h1,
h4,
h5,
h6 {
  font-weight: 700;
}

h1 {
  font-size: 1.802rem;
}

h2 {
  font-size: 1.602rem;
  font-weight: 600;
}

h3 {
  font-size: 1.424rem;
  font-weight: 300;
}

h4 {
  font-size: 1.266rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 1rem;
}

.logo {
  flex: 1;
  font-family: "Kaushan Script", cursive;
  font-size: 2.25rem;
  color: var(--primary);
  max-width: 211px;
}

body {
  margin: 0;
  background-color: var(--white);
  color: var(--black);
}

a {
  text-decoration: none;
}

/* Header */
header {
  user-select: none;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
  gap: 32px;
}

.tabs {
  flex: 2;
  max-width: 440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0;
  width: 104px;
  border-bottom: 3px solid var(--white);
  transition: 300ms;
}

.tab.selected,
.tab:hover {
  border-bottom: 3px solid var(--primary);
  color: var(--primary);
  transition: 300ms;
}

.tab:not(.selected) {
  cursor: pointer;
}

.user-and-cart {
  flex: 1;
  display: flex;
  max-width: 211px;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

/* Content: Home */

.hero-bg {
  height: 924px;
  background-image: url("./img/hero-bg.jpeg");
  background-size: cover;
  background-position: center;
  filter: brightness(0.3);
}

/* Footer */
footer {
  background-color: var(--black);
  color: var(--white);
  padding: 0 12.5vw;
}

.footer-upper {
  display: flex;
  justify-content: space-between;
}

.footer-info-container {
  flex: 1;
  max-width: 743px;
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.footer-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 220px;
}

.footer-info h4 {
  margin-bottom: 8px;
}

.footer-info a {
  display: block;
  color: var(--white);
}

.footer-logo {
  color: var(--white);
}

.footer-lower {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--white);
  box-sizing: content-box;
}

.footer-lower a {
  color: var(--primary);
}

.footer-upper,
.footer-lower {
  padding: 32px 0;
}
